.inventory {
    display: flex;
    position: relative;
    flex-direction: column;
    z-index: 10;
    box-sizing: content-box;
    background-color: var(--wood-dark);
    justify-content: center;
    align-items: stretch;
}

.inventory > h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    font-size: 40px;
}

.inventory > table {
    margin: 0;
    padding: 0;
    display: flex;
    box-sizing: border-box;
    /* width: 100%; */
    width: fit-content;
    height: 100%;
    max-width: fit-content;
    list-style: none;
    margin: 0 15px 15px 15px;
    
    /* margin: auto; */
    /* background-color: var(--wood-light); */
    justify-content: flex-start;
    /* justify-items: center; */
    align-content: flex-start;
    align-items: flex-end;
    flex-wrap: wrap;
}
.inventory tr {
    background-color: var(--wood-light);
    
}

.inventory td {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 15;
    width: 64px;
    height: 64px;
    margin: 5px;
    /* min-width: 10%;
    max-width: 10%; */
    /* padding: 2%; */
    /* background-color: var(--wood-light); */
    border: 1px solid var(--wood-mid);
}
.inventory td > img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.inventory *.item {
    object-fit: contain;
    cursor: pointer;
    width: 100%;
}

.inventory *.item.dragging {
    opacity: .25;
    
}

.ui-draggable-handle {
    width: 64px;
}

.ui-draggable-dragging {
    filter: brightness(1) drop-shadow(5px 5px 10px rgb(255, 246, 115));
    opacity: 1;
}

.ui-draggable-dropping {
    filter: brightness(5) drop-shadow(5px 5px 5px rgb(115, 148, 255)); 
    opacity: 1;
}

.hover {
    background-color: rgba(0,191,165,.04);
}

/* .item::drag-image {
    cursor: move;
    background-color: aqua;
} */

.inventory > table td * {
    z-index: 16;
}