@font-face {
    font-family: 'magic1';
    src: url('../fonts/MagicSchoolTwo.ttf')  format('truetype'), /* Safari, Android, iOS */
}

@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root {
/*     --azul: cadetblue;
    --azuldark: rgb(51, 62, 87);
    --montain: rgb(105, 90, 48);
    --ground: rgb(38, 128, 38);
    --menu-dark: rgb(81, 52, 31);
    --menu-mid: rgb(160, 112, 72);
    --menu-glow: rgb(78, 164, 102);
    --menu-glow-low: rgb(38, 177, 121);
    --wood-light: rgb(182, 152, 111);
    --wood-dark: rgb(139, 112, 75);; */
    --azul: rgb(95, 158, 160);
    --azuldark: rgb(51, 62, 87);
    --montain: rgb(105, 90, 48);
    --ground: rgb(38, 128, 38);
    --ground-back: rgb(81, 131, 81);
    --menu-darkness: rgb(26, 35, 48);
    --menu-dark: rgb(31, 51, 81);
    --menu-mid: rgb(160, 136, 72);
    --menu-glow: rgb(78, 164, 102);
    --menu-glow-low: rgb(38, 177, 121);
    --wood-light: rgb(182, 152, 111);
    --wood-mid: rgb(168, 151, 128);
    --wood-dark: rgb(117, 88, 47);
    --wood-darker: rgb(70, 52, 27);
    --golden: #DAA520;
    --wood-details: var(--menu-mid);
    --modal-background: var(--menu-dark);
    
    /* color: antiquewhite; */
    --paper: antiquewhite;
    --menu-title-font: 'Press Start 2P', cursive;
}

.hidden {
    display: none;
}

img.gray {
    filter: grayscale(100%);
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
}

.modal-window {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 10000; /* Sit on top */
    width: 100vw; /* Full width */
    height: 100vh; /* Full height */
    overflow: hidden; /* Enable scroll if needed */
    /* background-color: rgb(0,0,0); */ /* Fallback color */
    /* background-color: rgba(0, 0, 0, 0.603); */ /* Black w/ opacity */
  }