@font-face {
    font-family: 'magic1';
    src: url('../fonts/MagicSchoolTwo.ttf')  format('truetype'), /* Safari, Android, iOS */
}

@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root {
/*     --azul: cadetblue;
    --azuldark: rgb(51, 62, 87);
    --montain: rgb(105, 90, 48);
    --ground: rgb(38, 128, 38);
    --menu-dark: rgb(81, 52, 31);
    --menu-mid: rgb(160, 112, 72);
    --menu-glow: rgb(78, 164, 102);
    --menu-glow-low: rgb(38, 177, 121);
    --wood-light: rgb(182, 152, 111);
    --wood-dark: rgb(139, 112, 75);; */
    --azul: rgb(95, 158, 160);
    --azuldark: rgb(50, 102, 112);
    --montain: rgb(212, 202, 196);
    --ground: rgb(38, 128, 38);
    --ground-back: rgb(81, 131, 81);
    --menu-darkness: rgb(26, 35, 48);
    --menu-dark: rgb(31, 51, 81);
    --menu-mid: rgb(160, 136, 72);
    --menu-glow: rgb(78, 164, 102);
    --menu-glow-low: rgb(38, 177, 121);
    --menu-button: var(--menu-glow);
    --menu-button-glow: var(--menu-glow-low);
    --menu-icon: var(--menu-dark);
    --menu-icon-glow: var(--menu-darkness);
    --wood-light: rgb(182, 152, 111);
    --wood-mid: rgb(168, 151, 128);
    --wood-dark: rgb(117, 88, 47);
    --wood-darker: rgb(70, 52, 27);
    --golden: #DAA520;
    --wood-details: var(--menu-mid);
    --modal-background: var(--menu-dark);
    
    /* color: antiquewhite; */
    --paper: antiquewhite;
    --menu-title-font: 'Press Start 2P', cursive;
}

.hidden {
    display: none;
}

img.gray {
    filter: grayscale(100%);
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
}

.modal-window {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 10000; /* Sit on top */
    width: 100vw; /* Full width */
    height: 100vh; /* Full height */
    overflow: hidden; /* Enable scroll if needed */
    /* background-color: rgb(0,0,0); */ /* Fallback color */
    /* background-color: rgba(0, 0, 0, 0.603); */ /* Black w/ opacity */
}

.icon {
    -webkit-mask: var(--img) repeat center;
    mask: var(--img) repeat center;
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-clip: border-box;
    mask-clip: border-box;
    padding-left: 25px;
}

button {
    display: flex;
    background-color: var(--menu-button);
}

button:hover {
    display: flex;
    background-color: var(--menu-button-glow);
}

span.icon {
    background-color: var(--menu-icon);
    width: 100%;
    height: 100%;
}

span.icon:hover {
    background-color: var(--menu-icon-glow);
}

span.icon.r {
    background-color: var(--menu-button-glow);
}

.replay {
    --img: url("../images/assets/icons/replay.png");
}

.next {
    --img: url("../images/assets/icons/arrow_right.png");
}

.back {
    --img: url("../images/assets/icons/arrow_left.png");
}

.close {
    --img: url("../images/assets/icons/cross.png");
}

.help {
    --img: url("../images/assets/icons/help.png");
}

.money {
    --img: url("../images/assets/icons/dollar.png");
}

.star {
    --img: url("../images/assets/icons/big_star.png");
}

.home {
    --img: url("../images/assets/icons/home.png");
}

.trophy {
    --img: url("../images/assets/icons/trophy.png");
}

.rank {
    --img: url("../images/assets/icons/podium.png");
}