#background {
    display: flex; 
    position: relative; 
    width: 100%; height: 100%; 
    overflow: hidden;
    
    background-color: var(--azuldark); 
}

#castle {
    display: flex;
    position: relative;
    align-self: flex-end;
    justify-content: center;
    align-items: flex-end;
    width: 25%;
    height: fit-content;
    left: 40%;
    bottom: 10%;
}

.hover {
    position: absolute;
}

.castle-part {
    width: 100%;
}

.backimage {
    position: absolute; 
    width: 100%;
    bottom: 0;
    align-self: flex-end;
    background-size: cover;
    background-clip: border-box;
    /* object-fit: cover;
    background-size: cover; */
}

.backimage.a {
    bottom: 0%;
    background-color: var(--montain);
    --img: url(../../images/background/mountains.png);
    -webkit-mask: var(--img) repeat center;
    mask: var(--img) repeat center;
    /* background-image: url();
    background-repeat: repeat; */
    height: 76.5%;
}

.backimage.b {
    background-color: var(--ground);
    --img: url(../../images/background/greenground.png);
    -webkit-mask: var(--img) repeat center;
    mask: var(--img) repeat center;
    height: 30%;
}