#game-element, game-element {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    width: 100%;
    flex-grow: 1;
    justify-content: space-between;
    align-items: stretch;
}

/* Page header*/ 
header{
    display: flex;
    position: fixed;
    width: calc(100% - 20px);
    left: 0;
    padding: 10px;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    z-index: 1000;
}

/* Background */
main{
    display: flex;
    position: relative;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    object-fit: contain;
    /* background-color: #0962627a;
    background-position: center;
    background-image: url("../../images/inicio.svg");
    background-size: contain;
    background-repeat: no-repeat; */
} 

.menu-title {
    display: flex;
    background-color: var(--menu-dark);
    color: var(--menu-mid);
    --img: url(../../images/main/menu.png);
    -webkit-mask: var(--img) no-repeat center;
    mask: var(--img) no-repeat center;
    -webkit-mask-clip: border-box;
    -webkit-mask-size: cover;
    mask-clip: border-box;
    mask-size: cover;
    position: absolute;
    border-radius: 50px;
    width: fit-content;
    top: -25px;
    height: fit-content;
    justify-content: center;
    align-items: center;
}

.menu-title > * {
   /*  font-family: 'magic1'; */
   /* font-family: 'Rock Salt', cursive; */
   font-family: 'Press Start 2P', cursive;
   font-size: 400%;
   text-align: center;
   vertical-align: middle;
   display: flex;
   flex-direction: row;
   margin: 0;
}

.menu-title h1 > span {
   padding: .4em;
}