#game-element, game-element {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    width: 100%;
    flex-grow: 1;
    justify-content: space-between;
    align-items: stretch;
}

/* Page header*/ 
header{
    display: flex;
    position: fixed;
    width: calc(100% - 20px);
    left: 0;
    padding: 10px;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    z-index: 1000;
}

/* Background */
main{
    display: flex;
    position: relative;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    object-fit: contain;
    /* background-color: #0962627a;
    background-position: center;
    background-image: url("../../images/inicio.svg");
    background-size: contain;
    background-repeat: no-repeat; */
} 


/* Footer with buttons*/
footer{
   /*  position: relative; */
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--menu-dark);
    z-index: 1000;
}

#buttons{
    display: flex;
    width: 80%;
    margin: auto;
    align-items: flex-end;
    padding-bottom: 10px;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: flex-start;
    z-index: 1000;
}

#btn-play {
    border-radius: 60px;
    background-image: url("../../images/main/play.svg");
    width: 110px;
    height: 110px;
    margin-top: 15px;
    background-color: var(--menu-glow);
}

button {
    width: 70px;
    height: 70px;
    font-weight: 500;
    color: #000;
    background-color: var(--menu-mid);
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    background-size: 30px;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1000;
}
  
button:hover, #btn-play:hover, #btn-login:hover {
    background-color: var(--menu-glow-low);
    transform: translateY(-7px);
}
#btn-setting{
    position: relative;
    transform: translateY(0px);
    left: calc(100% - 70px);
}
#btn-setting {
    background-image: url("../../images/main/sound.svg");
}
#btn-ranking {
    background-image: url("../../images/main/ranking.svg");
}
#btn-howToPlay {
    background-image: url("../../images/main/question.svg");
}

.menu-title {
    display: flex;
    background-color: var(--menu-dark);
    color: var(--menu-mid);
    --img: url(../../images/main/menu.png);
    -webkit-mask: var(--img) no-repeat center;
    mask: var(--img) no-repeat center;
    -webkit-mask-clip: border-box;
    -webkit-mask-size: cover;
    mask-clip: border-box;
    mask-size: cover;
    position: absolute;
    border-radius: 50px;
    width: 300px;
    height: 200px;
    justify-content: center;
    align-items: center;
}

.menu-title > * {
   /*  font-family: 'magic1'; */
   /* font-family: 'Rock Salt', cursive; */
   font-family: 'Press Start 2P', cursive;
   font-size: 400%;
   text-align: center;
   vertical-align: middle;
}