* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.box {
    display: inline-block;
    position: relative;
    /* width: 50%; */
  }
  
.dummy {
  margin-top: 75%;
  /* 4:3 aspect ratio */
}

.box > *:not(.dummy) {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: silver/* show me! */
}

.icon {    
  background-color: rgb(var(--color_11));
  mask-clip: border-box;
  mask-size: 100%;
  -webkit-background-clip: border-box;
  
}

.heart {
  -webkit-mask: url(../images/svgs/foursquare1.svg) no-repeat center;
  mask: url(../images/svgs/foursquare1.svg) no-repeat center;
}

.modal {
  
  display: flex; /* Hidden by default */
  position: absolute; /* Stay in place */
  flex-grow: 1;
  z-index: 10000; /* Sit on top */
  /* padding-top: 0px; */ /* Location of the box */
  /* left: 0;
  top: 0; */
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.603); /* Black w/ opacity */
}

/* Modal Content */
.modal-background
{
  display: flex;
  flex-direction: column;
  background-color: var(--paper);
  color: var(--azuldark);
  border: 1px solid rgba(136, 136, 136, 0);
  border-radius: 50px 50px 25% 25%;
/*   background-image: url("../images/icons/menu.svg");
  background-size: auto;
  background-repeat: no-repeat; */
  margin: 10%;
  /*padding: 20px;*/
  align-self: center;
  justify-self: center;
  
  width: 500px;
  height: 500px;
}

.modal-background > span:nth-child(1) {
  display: flex;
  flex-direction: row;
  background-color: var(--azul);
  border-radius: 50px 50px 0 0;
  justify-content: space-between;
  justify-self: center;
  align-self: center;
  width: 100%;
  padding: 0px 10px;
}

.modal-background > span > *:nth-child(1) {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  /* text-align: center;
  vertical-align: middle; */
}

.modal-background > span > * {
  color: var(--azuldark);
  padding: 10px;
  margin: 10px;
}


/* The Close Button */
.close {
  float: right;
  font-size: 50px;
  font-weight: bold;
  right: 10%;
}
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.menu-title {
    position: absolute;
    width: 350px;
    height: 170px;
}

.hidden {
  display: none;
}
