body {
  margin: 0;
}

.box {
    display: inline-block;
    position: relative;
    /* width: 50%; */
  }
  
.dummy {
  margin-top: 75%;
  /* 4:3 aspect ratio */
}

.box > *:not(.dummy) {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: silver/* show me! */
}

.icon {    
  background-color: rgb(var(--color_11));
  mask-clip: border-box;
  mask-size: 100%;
  -webkit-background-clip: border-box;
  
}

.heart {
  -webkit-mask: url(../images/svgs/foursquare1.svg) no-repeat center;
  mask: url(../images/svgs/foursquare1.svg) no-repeat center;
}